{% extends "layouts/base.html" %}
{% from "components/buttons.html" import button, icon_only_button %}
{% from "components/modals.html" import modal %}

{% block title %}{{ title }}{% endblock title %}

{% block header %}

    <h1 class="mb-3 text-light">Quiz</h1>

    <div id="quiz-description" class="d-flex">
        <p class="fs-5 mb-3 text-light">Choisissez le sujet pour commencer le quiz.</p>
        {{ icon_only_button(
            "quiz-start-button", 
            "play_arrow", 
            icon_size="fs-5", 
            btn_color="success", 
            margins="ms-2", 
            display="d-none"
        ) }}

        {{ icon_only_button(
            "quiz-stop-button", 
            "stop", 
            icon_size="fs-5", 
            btn_color="danger", 
            margins="ms-2", 
            display="d-none",
            toggle="modal", 
            target="#modal-stop-quiz"
        ) }}
    </div>

    <div id="quiz-subject" class="d-flex flex-wrap justify-content-center">
        {% for subject in subjects %}
            {{ button(
                subject.name, 
                "subject-"~subject.id, 
                btn_color="outline-light", 
                margins="mx-1 mb-2"
            ) }}
        {% endfor %}
    </div>

{% endblock header %}

{% block content %}

    <div class="d-flex flex-column">
        <div class="d-flex justify-content-between">
            <p class="mb-1 text-uppercase text-secondary">Difficulté : <span id="quiz-difficulty-level" class="fw-bold">Facile</span></p>
            <p class="mb-1 text-uppercase text-secondary">
                <span id="quiz-count-questions" class="fw-bold">0</span>/10 questions | 
                Réponses : <span class="fw-bold text-success"><span id="quiz-correct-answers">0</span> correctes</span> / 
                <span class="fw-bold text-danger"><span id="quiz-wrong-answers">0</span> fausses</span>
            </p>
        </div>
        <div id="quiz-conversation-area" class="border rounded px-3 py-3 overflow-auto"></div>
    </div>

    <form id="quiz-form" class="d-flex align-items-center justify-content-center mt-2">
        <div class="form-floating">
            <textarea class="form-control" name="textarea" id="quiz-textarea" required disabled></textarea>
            <label for="floatingTextarea2">Votre réponse</label>
        </div>
        {{ button(
            "Envoyer", 
            "quiz-send-button", 
            btn_color="dark", 
            disabled=true,
            type="submit"
        ) }}
    </form>

    {{ modal(
        "modal-stop-quiz", 
        "Arrêter le quiz", 
        "Vous êtes sur le point de perdre votre progression. Êtes-vous sûr de vouloir arrêter le quiz ?", 
        "Rester sur le quiz",
        "modal-btn-stop",
        "danger",
        "Quitter"
    ) }}

    <div id="template-message-boxes" class="border rounded px-3 py-3 overflow-auto d-none">
        <div class="ai-message-box w-75 float-start mb-3">
            <div class="card">
                <div class="card-body">
                    Sa réponse
                </div>
            </div>
        </div>
        <div class="user-message-box w-75 float-end mb-3 text-end">
            <span class="text-uppercase text-secondary">Vous</span>
            <div class="card mt-1">
                <div class="card-body text-start">
                    Votre réponse
                </div>
            </div>
        </div>
    </div>

{% endblock content %}