{% macro button(label, id, icon_name="", btn_color="primary", margins="", disabled=false) %}
    <button 
        id="{{ id }}" 
        class="btn btn-sm btn-{{ btn_color }} {{ margins }} rounded-pill"
        {% if disabled %}disabled{% endif %}
    >
        <span class="{% if icon_name %}me-2{% endif %}">{{ label }}</span>

        {% if icon_name %}
            <span class="material-symbols-outlined">{{ icon_name }}</span>
        {% endif %}
    </button>
{% endmacro %}

{% macro icon_only_button(id, icon_name, icon_size="", btn_color="primary", margins="", display="", disabled=false) %}
    <button 
        id="{{ id }}" 
        class="btn btn-sm btn-{{ btn_color }} {{ margins }} rounded-pill {{ display }}"
        {% if disabled %}disabled{% endif %}
    >
        <span class="material-symbols-outlined {{ icon_size }}">{{ icon_name }}</span>
    </button>
{% endmacro %}